
  .form-container{
    display: flex;
    flex-direction: column;
    border:1px solid transparent;
   
  }

  .list, .form-container{
      margin-top:100px;
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  


  @media only screen and (max-width: 900px) {
    
    .form-container{
        width: 100%;
        margin: auto;
        margin-top:50px;
        margin-left:4px;
      }

      .list{
        margin-left:4px;
      }
  }
    