<mat-toolbar color="primary" class="tool-bar">
    <mat-toolbar-row>
        <span>Home</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      </mat-toolbar-row>
  </mat-toolbar>


<div class="contents row">
<div  class=" col-xs-12 col-md-2"></div>
<div  class="form-container col-xs-12 col-md-4">
  
  <mat-form-field appearance="outline">
    <mat-label>Category title</mat-label>
    <input matInput type="text" placeholder="Enter category title" [formControl]="category_title" [errorStateMatcher]="matcher" (click)="hideErrors()" required>
    <mat-error *ngIf="category_title.hasError('required')">Category title is <strong>required</strong></mat-error>
    <mat-error *ngIf="category_title.hasError('minlength')">Category title must be minimum of 2 characters</mat-error>
    <mat-error *ngIf="category_title.hasError('maxlength')">Category title must be maximum of 100 characters</mat-error>
  </mat-form-field>


  <button type="submit" (click)="onSubmit()" class="btn btn-primary"> 
    Save Category
  </button>
  
</div>

<div class="list col-xs-12 col-md-4">

<app-list></app-list>

</div>

<div  class=" col-xs-12 col-md-2"></div>

</div>
