/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
    max-width:99% !important;
    background: #fff !important;
}

.tool-bar {
    width:101% !important;
}

.snack-error {
    background: red;
    color: #fff;
}

.snack-success {
    background: green;
    color: #fff;
}

.snack-text {
    margin-left:20%;
}

.mat-paginator-page-size-label { 
    color: transparent;
}

.mat-paginator-page-size-label::after { 
    content: "Category per page" !important;
    color: #000
}


@media only screen and (max-width: 500px) {
    
    .snack-text {
        margin-left:10%;
    }
  }
